@import 'bootstrap/dist/css/bootstrap';

#logo {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.jumbotron{
    background-image: asset-url('new_home_img.jpg');
    background-size: cover;
    height: 550px;
    
}

.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.listing{
    list-style: none;
    padding-left: 0;
}