<div class="container">
    <footer class="footer">
    <small>
        Copyright &copy; <a href = "https://vinova.sg/">Homework for Ruby on Rails</a>
        by <a href ="#">Khang Kuro</a>
    </small>
    </footer>


</div>